/* loading screen */
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
  
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
  
  /* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}
  
@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
}
  
@keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
}
  

#contents{
    display: none;
}

body{
    background-color: #A8FBFC;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 2%;
}

.newClass{
    background-color: black;
}

.newClass .opening button{
    background-color: white;
    color: black;
}
.newClass .opening button:active{
    background-color: black;
    color: white;
}

.newClass .opening h1{
    color: white;
}

.newClass .opening h3{
    color: white;
}

.newClass .accordion button{
    background-color: white;
    color: black;
}

.newClass .opening button:active{
    background-color: black;
    color: white;
}

.opening{
    text-align: center;
    margin: 0px;
    margin-bottom: 15px;
}
.opening h1{
    font-size: 70px;
    margin: 0px;
}
.opening h3{
    font-size: 40px;
    margin: 0px;
    margin-bottom: 10px;
}
.opening button{
    width: 20%;
    height: 50px;
    background-color: #3FAAE1;
    color: white;
    border: none;
    font-size: 15px;
    outline: none;
    transition: 0.2s;
    
}
.opening button:active{
    background-color: #3E8BC7
}
.accordion{
    width: 100%;
    margin: 0px;
    text-align: center;
    align-content: center;
}

.accordion button{
    background-color: #3FAAE1;
    color: white;
    border: none;
    width: 100%;
    height: 40px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 1px;
    transition: 0.4s;
    outline: none;
}
.acc-button:hover{
    background-color: #3E8BC7;
}

.accordion p{
    background-color: white;
    margin: 0px;
    width: 100%;
    min-height: 50px;
    font-size: 20px;
}

/* nanti js bikin muncul ini panel */
.panel{
    overflow: hidden;
    max-height: 0px;
    transition: 0.2s ease-out;
}
