{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <title>New Page</title>
        <!-- <script language="JavaScript" type="text/javascript" src="/js/jquery-1.2.6.min.js"></script>
        <script language="JavaScript" type="text/javascript" src="/js/jquery-ui-personalized-1.5.2.packed.js"></script>
        <script language="JavaScript" type="text/javascript" src="/js/sprinkle.js"></script> -->
        <script src="HTTPS://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body id="body" onload="loadingFunction()">
        <div id="loader"></div>

        <div id="contents">
            <div class="opening">
                <h1>Well, Hello Friends!</h1>
                <h1>My Name is Saul</h1>
                <h3>Try this button brah!</h3>
                <button onclick="toggleTheme()">Toggle Theme</button>
                <button>Go Try!</button>
            </div>
            <div class="accordion">
                <div class="accordion-wrapper">
                    <button class="acc-button">Kesibukan</button>
                    <div class="panel">
                        <p>ga ada sih kebetulan</p>
                    </div>
    
                    <button class="acc-button">Organisasi</button>
                    <div class="panel">
                        <p>ga ada sih sebenernya</p>
                    </div>
    
                    <button class="acc-button">Prestasi</button>
                    <div class="panel">
                        <p>ga ada sih keknya</p>
                    </div>
                </div>
            </div>
        </div>

        <script>
            var acc = document.getElementsByClassName("acc-button");
            var i;
            
            for (i = 0; i < acc.length; i++) {
                acc[i].addEventListener("click", function() {
                    this.classList.toggle("active");
                    var panel = this.nextElementSibling;
                    if (panel.style.maxHeight){
                        panel.style.maxHeight=null;
                    }
                    else{
                        panel.style.maxHeight = panel.scrollHeight + "px";
                    }
                });
            }

            function toggleTheme(){
                var body = document.getElementById("body");
                body.classList.toggle('newClass');
            }

            var loadPage;
            function loadingFunction(){
                loadPage = setTimeout(showpage, 3000);
            }

            function showpage(){
                document.getElementById("loader").style.display = "none";
                document.getElementById("contents").style.display = "block";
            }

            $("button").click(
                function(){
                    $.ajax({
                        url: "http://enterkomputer.com/api/product/drone.json",
                        success: function(result) {
                            console.log(result);
                        }
                    })
                }
            );
            </script>

        
            <!-- <script src="{% static 'accrodion.js' %}"></script> -->
    </body>
</html>