<html>
    <head>
        {% load static %}
        <!-- <script src="HTTPS://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    </head>
    <body>
        <button class="test">Try!</button>
        <script>
            $("button").click(
                function(){
                    $.ajax({
                        url: "{% static 'drone.json' %}",
                        success: function(result){
                            console.log(result);
                        }
                    })
                }
            )

        </script>
    </body>


</html>